[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.12"
django-filter = "*"
django-crispy-forms = "*"
django-htmx = "*"
django-widget-tweaks = "*"
unicodecsv = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.8"
