{% extends "comm/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block titulo %}Registra Depósito{% endblock %}

<body>

    {% block bodyini %}
    
    <section>
    
        <h2 style="color: #fff; text-align: center">Registra Depósito<h2>
            
        <article class="col-md-3">
        </article>
    
        <article class="col-md-6">
            <ul class="nav nav-tabs nav-justified well">
    
                {% if user.is_authenticated %}
    
                <form action="{% url 'create_depo' %}" method="post" enctype="multipart/form-data">

                       {% csrf_token %}

                       {% for hidden in form.hidden_fields %}
                       {{ hidden }}
                     {% endfor %}

                 
                     {% for field in form.visible_fields %}

                        <i for="{{ field.id_for_label }}">{{ field.label }}</i>


                        {% if "FECHA" in field.label %}

                            {% render_field field|add_class:"form-control" size='10' type="date" data-date-format="dd-mm-yyyy" %}
                            
                        {% else %}
            
                        {% if "U" in field.label %}
                           {% render_field field value=2.0 %}

                           {% else %}
                            {% render_field field class="form-control" placeholder=field.label %}
                            {% endif %}

                        {% endif %}


                         {% for error in field.errors %}
                           <span class="help-block">{{ error }}</span>
                         {% endfor %}
                       
                      
                       
                     {% endfor %}

                          <!-- {{ form.as_ul }} -->

                        <button type="submit" class="btn btn-primary">  Save</button>
                    <a clas="btn_r" href="/"><img align="rigth" src="{% static 'img/back_arrow.ico' %}"></a>      
                </form>
                {% endif %}
        </ul>
        </article>
    
    {% endblock %}
    
    <img id="img-inicio" src="{{STATIC_URL}}img/img-bg.jpg">
    
    </section>
    
    </body>
 