{# templates/teso/table_efe.html #}

<div id='list_efe'>

        <div style="background-color:LightGray;color:black;font-size:12px;">
         
        <li class="list-group-item d-flex justify-content-between align-items-center">
    
        <table>
            <thead>

                <tr>
                  <th>Num. Reg.</th>
                  <th>ID_EFECTIVO</th>
                  <th>FECHA DEPOSITO</th>
                  <th>IMPORTE</th>
                  <th>% COMI.%</th>
                  <th>IMPORTE DISP.</th>
                  <th>SALDO</th>
                  <th>USUARIO</th>

                </tr>
            </thead>
        <tbody>
        
        {% for efe in efe_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ efe.ID_EFECTIVO }}</td>
            <td>{{ efe.FECHA_DEPOSITO }}</td>
            <td>{{ efe.IMPORTE }}</td>
            <td>{{ efe.PORC_COMI }}</td>
            <td>{{ efe.IMPORTE_DISP }}</td>
            <td>{{ efe.SALDO }}</td>
            <td>{{ efe.usuario }}</td>
            <td><a class="block mr-2 hover:text-gray-600"
              hx-delete="{% url 'del-efe' efe.ID_EFECTIVO %}"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-confirm="Are you sure you want to delete this efectivo? {{ efe.ID_EFECTVO }}"
              hx-target="#list_efe"
              hx-swap="outerHTML"> Delete?</a></td>
        </tr>

        </li>

          </div>
          
          {% empty %}
          <tr>
            <td colspan="2">
              No invoice on this page.
            </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

    {% if efe_list.has_other_pages %}
  <ul class="pagination">
    {% if efe_list.has_previous %}
      <li><a href="?page={{ efe_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in efe_list.paginator.page_range %}
      {% if efe_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if efe_list.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
   

