{% load static %}
{% block header %}
	<header id="inicio">
            <div class="container" >
                <ul id="gn-menu" class="gn-menu-main">
                    <li class="gn-trigger">
                        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>

                        {% block acceso %}
                        {% if user.is_authenticated %}
                              <! --  Aquí va el menú de navegación  -->
                             <nav class="gn-menu-wrapper">
                                <div class="gn-scroller">

                                    <ul class="gn-menu">

                                        <li>
                                            <a href="#admin" class="gn-icon gn-icon-cog">Facturación</a>

                                        <ol class="gn-submenu">
                                            <!--la etiqueta  /cargar-excel corresponde a
                                              url(r'^cargar-excel/$', 'apps.pvrep.views.upload_file', name = 'cargar_excel'),
                                               del url definido en pvrep/urls.py
                                            -->
                                            <li><a href="/import-fac">Cargar Facturas</a></li>

                                            <li><a href="/import-fac">Cargar Pagos</a></li>

                                        </ol>

                                    </li>

                                    <li>
                                        <a href="#about" class="gn-icon gn-icon-cog">Tesoreria</a>

                                        <ol class="gn-submenu">

                                            <li><a href="/import-fac">Teso1</a></li>

                                        </ol>

                                    </li>
                                    <li><a href="#service" class="gn-icon gn-icon-cog">Operaciones</a>                                        
                                         <ol class="gn-submenu">
                                             <li><a href="/import-fac">Depósitos</a></li>
                                        </ol>
                                    </li>

                                    <li><a href="#works" class="gn-icon gn-icon-cog">Desarrollos</a></li>
                                    <li>
                                        <a href="#contact" class="gn-icon gn-icon-cog">Contacto</a>
                                    </li>

                                    </ul>
                                </div><!-- /gn-scroller -->
                            </nav>
                         {% endif %}
                        </li>


                        {% if user.is_authenticated %}
                        <li>
                            ¡¡Bienvenido!! {{ user.username }}
                        </li>
                        <li>
                        <a href="/logout">Cerrar Sesión</a>
                        </li>
                        {% endif %}

                        {% endblock %}


                        <li class="hidden-xs">


                            <ul class="company-social">

                                <li  > <script type="text/javascript"> var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"); var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"); var f=new Date(); document.write(diasSemana[f.getDay()] + ", " +  meses[f.getMonth()] + "  " + f.getDate() + "," + f.getFullYear()); </script>
                                       <!--   <script type="text/javascript"> function startTime(){ today=new Date(); h=today.getHours(); m=today.getMinutes(); s=today.getSeconds(); m=checkTime(m); s=checkTime(s); document.getElementById('reloj').innerHTML=h+":"+m+":"+s; t=setTimeout('startTime()',500);} function checkTime(i) {if (i<10) {i="0" + i;}return i;} window.onload=function(){startTime();} </script> <div id="reloj"></div>  -->
                                 </li>

                                <li class="social-facebook"><a href="#" > <img src="{% static 'img/facebook_32.png' %}" ></a></li>
                                <li class="social-facebook"><a href="#" > <img src="{% static 'img/twitter_32.png' %}" > </a></li>
                                <li class="social-facebook"><a href="#" > <img src="{% static 'img/linkedin_32.png' %}" > </a></li>

                            </ul>

                        </li>

                    </ul>
            </div>

    </header>
{% endblock %}
