{% extends 'comm/base.html' %}
{% load static %}

{% block titulo %}Password Reset Confirm{% endblock %}

<body>

{% block bodyini %}

    <section>
       <h2 style="color: #fff; text-align: center">Password Reset Confirm</h2>

    <div class="progress">
         <progress  value=0 max=100 id="barra" class="progress"  style="width: 100%"></progress>
     </div>
	     <article class="col-md-3"><div id="cajaArriba" style="display: none;">
    </div>	
         </article>
    <article class="col-md-6">
		<ul class="nav nav-tabs nav-justified well">
            <!--Password Reset Confirm-->
            <div class="container p-5">
                <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
                <hr>
                <p>Please enter your new password.</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}                    
                    <button class="btn btn-primary" type="submit">Reset password</button>
                </form>
            </div>
        </ul>
     </article>
    </section>

{% endblock %}

<img id="img-inicio" src="{{STATIC_URL}}img/img-bg.jpg">

</body>
