{% extends "comm/base.html" %}

{% block titulo %}Correo enviado{% endblock  %}

{% block header %}
	<section id="inicio">
		<div class="container">
				<h1 style="color: #fff;">Correo Enviado</h1>
		</div>
	</section>
{% endblock %}

{% block bodycon1 %}

	<h2 id="titulos" style="color: #fff;">Correo enviado</h2>

	<hr>
	<article class="col-md-3"><div id="cajaArriba" style="display: none;"></div>	</article>
	<article class="col-md-6">
		<ul class="nav nav-tabs nav-justified well">

            <div>Restablecimiento de contraseña enviado.</div></br>
            <div>Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con la dirección electrónica que indicó. Debería recibirlas en breve.</div></br>
            <div>Si no recibe un correo, por favor asegúrese que ha introducido la dirección de correo con la que se registró y verifique su carpeta de spam.</div></br>

		</ul>
        <a href="/" class="btn btn-danger" type="submit">Aceptar</a>
		</hr>
	</article>

{% endblock  %}


{% block bodycon2 %}

{% endblock %}
