{% extends 'comm/base.html' %}
{% load static %}

{% block titulo %}Password Reset{% endblock %}

<body>

{% block bodyini %}

    <section>
       <h2 style="color: #fff; text-align: center">Password Reset</h2>

    <div class="progress">
         <progress  value=0 max=100 id="barra" class="progress"  style="width: 100%"></progress>
     </div>
	     <article class="col-md-3"><div id="cajaArriba" style="display: none;">
    </div>	
         </article>
    <article class="col-md-6">
		<ul class="nav nav-tabs nav-justified well">

             <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                {{ form.as_p }}
                {{ password_reset_form}}
                <button class="btn btn-primary" type="submit">Send email</button>

                <a clas="btn_r" href="javascript:history.go(0)">
                    <img align="rigth" src="{% static 'img/back_arrow_r.ico' %}">
                </a>

            </form>
        </ul>
     </article>
    </section>

{% endblock %}

<img id="img-inicio" src="{{STATIC_URL}}img/img-bg.jpg">

</body>
