{% load widget_tweaks %}

<div id="modal"  _="on closeModal add .closing then wait for animationend then remove me">

	<div class="modal-content">

        <a href="#modal.closing"  _="on click trigger closeModal" title="Close" class="close">X</a>

         <h1>Registra Facturas</h1>
    
                <form hx-post="{{ request.path }}" class="dialog">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %}

              
                  {% for field in form.visible_fields %}

                     <i for="{{ field.id_for_label }}">{{ field.label }}</i>


                     {% if "FECHA" in field.label %}

                         {% render_field field|add_class:"form-control" size='10' type="date" data-date-format="dd-mm-yyyy" %}
                         
                     {% else %}
         
                     {% if "U" in field.label %}
                        {% render_field field value=2.0 %}

                        {% else %}
                         {% render_field field class="form-control" placeholder=field.label %}
                         {% endif %}

                     {% endif %}

                

                     

                      {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    
                   
                    
                  {% endfor %}

                       <!-- {{ form.as_ul }} -->
             
            <div class="form__button">
	            <input type="button" value="Cancel" _="on click trigger closeModal"></input>
                <input type="submit" value="submit"  hx-post="{% url 'create_fac' %}" hx-target="body" hx-swap="beforeend"></input>
            </div>

                
                </form>

            </div>
        </div>

        <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
