{# templates/fac/list_fac.html #}

{% extends 'comm/base.html' %}

{% load i18n %}

{% block title %}Invoice List{% endblock title %}

{# tutorial/templates/tutorial/people.html {% load render_table from django_tables2 %} #}

<body>

{% block bodyini %}

<h2 style="color: #fff; text-align: center">Invoice List<h2>

    {% if user.is_authenticated %}

    <form action="{% url 'find_fac' %}" method="get">
        <div class="form-group">
        <div class="col-xs-4">
            <input type="text" class="form-control" name="query" placeholder="Invoice FOLIO" />
        </div>
            <button type="submit" class="btn btn-primary">Find</button>
        </div>

        {% include "fac/table_fac.html" %}

    </form>

    {% endif %}

{% endblock %}

</body>
